Title: Concepts
Description: Describes <a href='Concepts'>general concepts</a> important to the understanding of TC-Lite.
Order: 2
---

<p>A number of concepts are important to understand in order to effectively use TC-Lite.</p>

@Html.Partial("_ChildPages")
