Title: Getting Started
Description: How to <a href="GettingStarted">create, write and execute</a> a test assembly using TC-Lite.
Order: 3
---

<p>How to create, write and execute a test assembly using TC-Lite.</p>

@Html.Partial("_ChildPages")
