Title: Classic Model
Description: Each supported Assert uses a separate method, whose name indicates what is being tested.
Order: 1
---

<p>In the Classic model, a separate <code>Assert</code> method is used for each different assertion. This is 
how assertions were originally written in most test frameworks, which is why
we we describe it as Classic.</p>

<p>Nowadays, we retain only a small set of Classic Asserts, as a convenient shorthand for
some common Constraint-based Asserts.</p>

@Html.Partial("_ChildPages")
