Title: Features
Description: Describes the <a href='Features'>key features</a> of the TC-Lite framework.
Order: 4
---

<p>TC-Lite provides a number of Attributes, Assertions and other key features to assist you in writing and running tests.</p>

@Html.Partial("_ChildPages")
